<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/font.js"></script>
</head>
<body style="background-color:mediumorchid;">
    
    <div class="container">
        <div class="row">

            <h1 class="alert alert-danger text-dark text-center mt-1 " style="font-family: cooper;">TO-DO APPLICATION</h1>